* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

.divbox {
	margin: 0 1%;
}

.b_border {
	border-bottom: 1px solid #E5E5E5;
	padding-left: 10px;
}

.com_height {
	height: 50px;
	line-height: 50px;
}

.for_title {
	height: 50px;
	line-height: 50px;
	background: #F74000;
	text-align: center;
}

.backhost {
	float: left;
	height: 50px;
	padding-left: 10px;
}

.title {
	margin-left: -25px;
	color: #fff;
	font-size: 1.8em;
}

.divbox {
	padding: 4%;
}

table {
	width: 100%
}

.attr {
	height: 30px;
	text-align: right;
	vertical-align: top;
	width: 35%;
}

.value {
	height: 30px;
	vertical-align: top;
	width: 65%;
}

p {
	height: 30px;
}

.imgCertificate {
	width: 90%;
	text-align: center;
	margin-top: -5px;
}