@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	width: 100%;
	background-color: #EBEBEB;
}

#content {
	width: 100%;
	height: 100%
}

table {
	width: 80%;
	text-align: left;
	margin-top: 70px;
	margin-left: 10%;
	margin-right: 10%;
}

#form {
	text-align: center;
	width: 100%;
}

input {
	/* line-height: 35px; */
	height: 37px;
	width: 100%;
	padding-left: 35px;
	border: 1px solid #E0DDDD;
}

input:focus {
	outline: none;
	border: 1px solid #F26522
}

#txtOldPassWord {
	background-position: left;
	background-repeat: no-repeat;
	background-size: 30px auto;
	background-image: url('/LogisticsSystem/static/images/weixin/pwd_icon.png');
	background-position-x: 3px;
}

#txtPassWord {
	margin-top: 20px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 30px auto;
	background-image: url('/LogisticsSystem/static/images/weixin/pwd_icon.png');
	background-position-x: 3px;
}

#txtConfirmPwd {
	margin-top: 20px;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 30px auto;
	background-image: url('/LogisticsSystem/static/images/weixin/pwd_icon.png');
	background-position-x: 3px;
}

#btnSubmit {
	-webkit-appearance: none;
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
	text-align: center;
	padding-left: 0;
	font-size: 1.2em;
	color: #fff;
	background-color: rgb(32, 134, 226);
	border-radius: 5px;
}